.form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 10px;
    /* text-align: start; */
}
.form > .notifications {
    display: none;
    padding: 10px 20px;
    border: 2px solid #f00;
    background-color: #d46e6e;
    color: #333;
}
.form > .notifications.show {
    display: block;
}
.form > input {
    font-size: 20px;
    padding: 0 0.2em;
    line-height: 1.8rem;
}
.form > button {
    font-size: 20px;
    line-height: 1.8rem;
}